.paymentForm {
    margin-top: 90px;
    overflow: hidden;
}

.header {
    color: black !important;
}

.paymentForm {
    #nameBox{
        width: 400px;
    }

    #cardBox {
        width: 400px;
    }

    #expBox {
        width: 160px;
    }

    #cvcBox {
        width: 160px;
        margin-left: 80px;
    }

    #payButton {
        border-radius: 16px;
        color: white;
        font-weight: bold;
        width: 400px;
        background-color: #4cd137;
        outline: none;
    }

    #redeemButton {
        border-radius: 16px;
        color: white;
        font-weight: bold;
        width: 400px;
        background-color: blue;
        outline: none;
    }

    input {
        font-size: 18px;
    }

    ::placeholder {
        color: gray !important;  
    }
}


