@import './variables/colors.scss';
.App {
  text-align: center;
  background-color: transparent;
  font-family: "Futura PT W02 Book", "Trebuchet MS", Arial, sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.navbar-brand {
  height: 25px !important;
  font-size: 36px !important;
}

.navbar-inverse {
  border-radius: 0px !important;
}

.navbar-inverse, {
  background-color: transparent !important;
  background-image: none !important;
 
  border-bottom:  1px solid rgba(255,255,255, .2) !important;

  a {
    color: white !important;
  }
  a:hover {
    color: $color_peterRiver !important;
    text-decoration: none;
  }
}

.LikeHomeLogo {
  height: inherit;
  width: inherit;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(50, 58, 68, 0.5);
}

.routeOverlay {
  position: absolute;
  z-index: -1;
  left: 0; right: 0;
  top: 0; bottom: 0;
  margin: auto;
}