@import './variables/colors.scss';
.App {
  text-align: center;
  background-color: $primaryColor;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: $secondaryColor;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar-brand {
  height: 25px !important;
}

.navbar-inverse {
  border-radius: 0px !important;
}

.LikeHomeLogo {
  height: inherit;
  width: inherit;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


