// .detailPic{
//     position: relative;
//     // padding-top: 70px;
//     width: 100%;
// }

#hotelDetails {
    margin: auto;
    width: 80%;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 60px;
}

.theColor{
    color:black !important;
}

.boxRadius{
    border-radius: 10px !important;
}