@import '../../variables/colors.scss';

.contentListView {
    margin-top: 82px;
}


.searchContain{
    position: relative;
    right:5%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4%;
    max-width: 90%;
    padding: 10%;

}

.searchHotel{
   position: relative;
   left: 5px;
   border-radius: 5px;
   background-color: #3faae3; /* Green */
   color: white;
}

.borderline{
    border-radius: 5px;
}

dl input{
    width:20px;
    position:relative;
    left: 0px;
    vertical-align:left;
}

dl label{
    width:150px;
    position:relative;
    display:inline-block;
    vertical-align:left;
}

.box{
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-color:silver;
    margin-bottom: 2%;
}