@import '../../variables/colors.scss';

.listViewContainer {
    margin-top: 82px;
}

.searchContain{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-color:white;
    margin-bottom: 0;
    max-width: 90%;
    padding: 10%;
}

.lowerContain{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top:20px;
    border-top: 5px solid white; 
    box-sizing: border-box;
    border-color:white;
    margin-bottom: 0;
    max-width: 100%;
    padding: 50%;
    background:white;
}

.listbox{
    position: absolute;
    display: block;
    left:10%;
    top: -5px;

}

.searchHotel{
   position: relative;
   left: 5px;
   border-radius: 5px;
   background-color: #3faae3; /* Green */
   color: white;
}

.borderline{
    border-radius: 5px;
}

dl input{
    width:20px;

    position:relative;
    left:20px; 

    vertical-align:left; 
}

dl label{  
    width:150px;       
    
    position:relative;
    display:inline-block;    
    vertical-align:left; 
}