.accountResultContainer {
    margin-top: 82px;
}

.sideBar {
    display: block !important;
    position: fixed;
}

.accountViewContainer {
    
}

.MyBookings {
    height: 600px;
}

.MyRewards {
    height: 600px;
}