//colors
$primaryColor: #3498db;
$secondaryColor: #2ecc71;
$tertiaryColor: #ff5722;

$color_whiteSmoke: #f5f5f5;
$color_turquoise: #1abc9c;
$color_greenSea: #16a085;
$color_emerald: #2ecc71;
$color_nephritis: #27ae60;
$color_peterRiver: #3498db;
$color_belizehole: #2980b9;
$color_amethyst: #9b59b6;
$color_wisteria: #8e44ad;
$color_wetasphalt: #34495e;
$color_midnightBlue: #2c3e50;
$color_sunflower: #f1c40f;
$color_orange: #ffa500;
$color_carrot: #e67e22;
$color_pumpkin: #d35400;
$color_alizarin: #e74c3c;
$color_pomegranate: #c0392b;
$color_clouds: #ecf0f1;
$color_silver: #bdc3c7;
$color_concrete: #95a5a6;
$color_asbestos: #7f8c8d;
$color_hot_toddy_approx: #a98e00;
$color_mandalay_approx: #a77225;
$color_supernova_approx: #ffcc07;
$black: #000000;
$black_30: rgba(0, 0, 0, 0.30);
$color_nobel_approx: #b3b3b3;
$color_quill_gray_approx: #d3d3d3;
$color_mustard_approx: #ffdd5a;
$color_millbrook_approx: #58492c;
$color_nugget_approx: #c7962b;
$color_bon_jour_approx: #e0e0e0;
$color_pumice_approx: #cacaca;
$color_nile_blue_approx: #203548;
$color_yellow_sea_approx: #ffb000;
$color_nile_blue_59_approx: rgba(32, 53, 72, 0.59);
$color_rhino_approx: #2a4763;
$color_black_haze_approx: #f7f7f7;
$color_kumera_approx: #8c5f29;
$color_birch_approx: #3a301d;
$gold: #ffd700;
$color_big_stone_approx: #192737;
$color_alpine_approx: #ac973c;
$color_san_juan_approx: #364e67;
$color_big_stone_67_approx: rgba(29, 46, 64, 0.67);
$color_malachite_approx: #35d835;
$gray: #808080;
$color_danube_approx: #5f99cf;
$color_punga_54_approx: rgba(86, 57, 19, 0.54);
$color_gorse_approx: #fffe48;
$color_tropical_blue_approx: #c4dbf1;
$color_nile_blue_43_approx: rgba(36, 54, 74, 0.43);
$white_0: rgba(255, 255, 255, .0);
$color_polo_blue_approx: #82a6c9;
$color_iroko_approx: #3e321e;
$color_matisse_approx: #21618a;
$color_forest_green_approx: #218a30;
$color_whiskey_approx: #cca26a;
$color_chardonnay_approx: #ffcb85;
$color_cutty_sark_approx: #587073;
$powder_blue: #b0e0e6;
$color_dove_gray_approx: #717470;
$color_green_white_approx: #e3e9e0;
$color_chicago_approx: #655f5a;
$color_silver_rust_approx: #cbbeb5;
$color_amazon_approx: #447055;
$color_vista_blue_approx: #89e1aa;
$color_blue_bayoux_approx: #4e647b;
$color_cornflower_approx: #9cc9f6;
$color_shadow_approx: #c0b283;
$color_banana_mania_approx: #fae8b1;
$color_saddle_brown_approx: #5f3900;
$color_cola_approx: #3a2300;
$color_mulberry_wood_approx: #5f0030;
