@import '../variables/colors.scss';

.items {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left:100px;
  margin-right:100px;
  margin-top: 100px;
}

.items img {
  border-radius: 2%;
  max-width:250px;
  max-height:250px;
  height: auto;
  width: auto;
}

.items a {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

@media(min-width: 576px) {
  .items {
    justify-content: space-between;
  }
  .items a {
    width: 48%;
  }
}

@media(min-width: 768px) {
  .items a {
    width: 31.5%;
  }
}

@media(min-width: 992px) {
  .items a {
    width: 23%;
  }
}

.itemLink {
  position: relative;
  width:250px;
  height:250px;
  box-shadow: 0 0 10px #4f4f4f;
  box-sizing: border-box;
  border-radius: 2%;
  margin-bottom: 30px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  text-align: center;
  padding: 0 10px;
  width: 250px;
  height: 250px;
  background-color: #263238;
  color: #FFFFFF;//#1DE9B6;
  opacity: 0;
  visibility: hidden;
}

.itemLink:hover .info {
  opacity: 1;
  visibility: visible;
  border-radius: 2%;
  background-color: rgba(0,0,0,.7); // Sets to 50%
}
