.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left:50px;
  margin-right:50px;
  spacing: 10px;
}


.items a {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

@media(min-width: 576px) {
  .items {
    justify-content: space-between;
  }
  .items a {
    width: 48%;
  }
}

@media(min-width: 768px) {
  .items a {
    width: 31.5%;
  }
}

@media(min-width: 992px) {
  .items a {
    width: 23%;
  }
}

.itemLink {
  position: relative;
  border-left: 24px;
  border-right: 250px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  text-align: center;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  background-color: #263238;
  color: #1DE9B6;
  opacity: 0;
  visibility: hidden;
}

.infoLink:hover .info {
  opacity: 1;
  visibility: visible;
}
