@import '../variables/colors.scss';

.items {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

b {
  font-size: 40px;
}

.items img {
  min-width:400px;
  min-height:400px;
  max-width: 400px;
  max-height: 400px;
  height: auto;
  width: 100%;
}

.items a {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

@media(min-width: 576px) {
  .items {
    justify-content: space-between;
  }
  .items a {
    width: 48%;
  }
}

@media(min-width: 768px) {
  .items a {
    width: 31.5%;
  }
}

@media(min-width: 992px) {
  .items a {
    width: 23%;
  }
}

.itemLink {
  position: relative;
  width: 400px;
  height: 400px;
  box-shadow: 0 0 10px #4f4f4f;
  box-sizing: border-box;
  margin-bottom: 30px;

  &:hover .info {
    opacity: 1;
    visibility: visible;
    background-color: rgba(0,0,0,.7); // Sets to 50%

  }
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  text-align: center;
  padding: 0 10px;
  width: 400px;
  height: 400px;
  background-color: #263238;
  color: #FFFFFF;//#1DE9B6;
  opacity: 0;
  visibility: hidden;
}

.popularDestHeader {
  margin: 100px;
}