@import '../variables/colors.scss';


.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.aspect-ratio-box {
  overflow: hidden;
  width:100%;
  height:100%;
  padding-top: 56.25%;
  background: black;
  position:relative;
}

.flexbox-centering {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbar {
  width: 80%;
  height: 80px;
  position: absolute;
  z-index: 1;
  left: 0; right: 0;
  top: 0; bottom: 0;
  margin: auto;
}

.navarrow {
  position: absolute;
  width: 4%;
  height: 7%;
  left: 0; right: 0;
  top: 50%; bottom: 0;
  margin: auto;
  z-index: 2;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  transition: all .5s ease-in-out;
  &:hover{
    transform: scale(1.5);
  }
  button {
    border:none;
    background-color: rgba(0, 0, 0, 0.0);
  }
  button:focus {outline:0;}
  img {
    width: 50%;
    height: 50%;
    border-width:0px;
    background-color: rgba(0, 0, 0, 0.0) !important;

  }
}

.navarrowbutton {
  position: relative;
  top:30%;
  color: white;
  background-color: rgba(0, 0, 0,0.5);
}

.videoPlayer {
  position: relative;
  z-index: 0;
}

.form-row {
  display: flex;
  align-self: center;

  label {
    height: 80px;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    border-color: $secondaryColor;
    border-radius: 8px;
    margin-left: 4px;
  }

  textarea:focus, input:focus, input, select, button{
    background-color: transparent;
    outline: none;
    position: relative;
  }
  }


.inputs-row {
  display: flex;
  flex-grow: 1;
  background:transparent;
  align-self: center;
}

.location-input {
width: 50%;
height: 40px;
position: relative;
z-index: 0;
display: flex;
align-items: center;
flex-grow: 2;
border: solid;
font-size: 14px;
}

select, option {
 background-color: rgba(0, 0, 0, 1);
}

.input-text{
font-size: 14px;
width: 90%;
font-weight: normal;
position: relative;
padding-right: 0;
border: none;
}

.icon-size {
  height: 40px;
  width: 30px;
  padding-right: 5px;
  padding-left: 5px;
}

  .price-text{
    width: 40%;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    color: $secondaryColor;
    border:  transparent;
    }

    .search {
      height: 80px;
      width: fit-content;
      border: solid;
      position: relative;
      z-index: 0;
      display: flex;
      align-items: center;
      flex-grow: 2;
      border: transparent;
    }

    .search-icon {
      height: 40px;
      width: 30px;
      padding-right: 5px;
      padding-left: 5px;

    }