@import '../variables/colors.scss';

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.aspect-ratio-box {
  overflow: hidden;
  width:100%;
  height:100%;
  padding-top: 56.25%;
  background: black;
  position:relative;
}

.flexbox-centering {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbar {
  width: 80%;
  height: 80px;
  position: absolute;
  z-index: 1;
  left: 0; right: 0;
  top: 0; bottom: 0;
  margin: auto;
}

.videoPlayer {
  position: relative;
  z-index: 0;
}

.form-row {
  display: flex;
  align-self: center;

  label {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: $secondaryColor;
    border-radius: 8px;
    margin-left: 4px;
  }

  textarea:focus, input:focus, input, select, button{
    background-color: transparent;
    outline: none;
    position: relative;
  }
  }


.inputs-row {
  display: flex;
  flex-grow: 1;
  background:transparent;
  align-self: center;
}

.location-input {
width: 50%;
height: 40px;
position: relative;
z-index: 0;
display: flex;
align-items: center;
flex-grow: 2;
border: solid;
}

.input-text{
font-size: 12px;
font-weight: normal;
position: relative;
padding-right: 0;
}

.date-input {
  width: 20%;
  height: 40px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  flex-grow: 2;
  border: solid;
  }

.date-text{
  font-size: 12px;
  font-weight: normal;
  line-height: 30px;
  color: $secondaryColor;
  border: transparent;
  background: transparent;
  }

.icon-size {
  height: 40px;
  width: 30px;
  padding-right: 5px;
  padding-left: 5px;
}

.price-input {
  width: 15%;
  height: 40px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  flex-grow: 2;
  border: solid;

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $secondaryColor;
      opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $secondaryColor;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
      color: $secondaryColor;
  }

  }

  .price-text{
    width: 40%;
    font-size: 12px;
    font-weight: normal;
    line-height: 30px;
    color: $secondaryColor;
    border:  transparent;
    }

.room-input {
  width: 10%;
  height: 40px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  flex-grow: 2;
  border: solid;
  }

  .room-text{
    width: 70%;
    font-size: 12px;
    font-weight: normal;
    line-height: 30px;
    color: $secondaryColor;
    border: transparent;
    }

    .search {
      height: 80px;
      width: fit-content;
      border: solid;
      position: relative;
      z-index: 0;
      display: flex;
      align-items: center;
      flex-grow: 2;
      border: transparent;
    }

    .search-icon {
      height: 40px;
      width: 30px;
      padding-right: 5px;
      padding-left: 5px;

    }

    option {
      background-color: $color_whiteSmoke;
      color: black;
    }


 .DateRangePickerInput {
 background-color: transparent !important;
 color: white !important;

 :placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $secondaryColor;
      opacity: 1; /* Firefox */
  }


 }

 .DateInput {
 color: white !important;
 background-color: transparent !important;
 transition: none;
 type:text;
 }

.DateRangePickerInput_arrow {
  svg {
  fill: white !important;
  }
}

.DateRangePicker_picker {
  background-color: transparent !important;
}

.DayPicker{
background-color: $color_whiteSmoke;
background-color: transparent !important;
}

.DateRangePicker_picker__portal {
  position: absolute !important;
  margin-top: 98px;
}

.DayPicker_transitionContainer {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: solid;
  border-color: $color_whiteSmoke !important;
  border-radius: 8px;
}

.DayPicker_weekHeader_ul {
  color: $color_whiteSmoke !important;
}

.DayPickerNavigation_button {
   background-color: transparent !important;
    border: solid;
    color: $color_whiteSmoke !important;
}

.CalendarMonth {
  background-color: transparent !important;

}


.CalendarMonthGrid {
  background-color: transparent !important;
}

.CalendarMonth_caption {
  background-color: transparent !important;
  color: $primaryColor !important;
}

.CalendarMonth_table {
  color: $color_whiteSmoke !important;
}

.CalendarDay {
  background-color: transparent !important;
  border: solid;
  color: $color_whiteSmoke !important;
  
}

.CalendarDay__blocked_out_of_range {
  color: gray !important;
}

.CalendarDay__selected {
  background-color: $primaryColor !important;

}

.CalendarDay__selected_span {
  background-color: gray !important;
  border: 1px;
  border: $primaryColor !important;
}

.CalendarDay__selected_span:hover {
  background-color: gray !important;
  border: 1px;
  border: $primaryColor !important;
}

.CalendarDay__selected_span:active {
  background-color: gray !important;
  border: 1px;
  border: $primaryColor !important;
}

.CalendarDay__selected:hover {
  background-color: $primaryColor !important;
}

.CalendarDay__selected:active {
  background-color: $primaryColor !important;
}
