.f-s-30 {
    font-size: 30px;
}

.fadeBackgroundColor {
    -webkit-transition:  background-color 0.5s ease-out;
    -moz-transition:  background-color 0.5s ease-out;
    -o-transition:  background-color 0.5s ease-out;
    transition:  background-color 0.5s ease-out;
}

.fadeBorderColor {
    -webkit-transition:  border-color 0.5s ease-out;
    -moz-transition:  border-color 0.5s ease-out;
    -o-transition:  border-color 0.5s ease-out;
    transition:  border-color 0.5s ease-out;
}

.clickable {
    height: 50px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.2);
    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        i {
            border-color: white;
        }
    }
}

.text-center {
    margin: auto;
    line-height: 50px;
    vertical-align: middle;
}

i {
    border: solid;
    border-color:  rgba(0, 0, 0, 0.2);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
  }
  
  .left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
  }
  
  .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
  }
  
  .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
  }
