@import '../variables/colors.scss';

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}
/* Full-width input fields */
input[type=word], input[type=password] {
    width: 100%;
    padding: 15px;
    border-radius:5px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border: none;
    background: $color_whiteSmoke;
    color: black;
}

/* Add a background color when the inputs get focus */
input[type=word]:focus, input[type=password]:focus {
    box-shadow: 0 0 5px $primaryColor;
    -webkit-transition: box-shadow 2s ease-out;
    -moz-transition: box-shadow 2s ease-out;
    -o-transition: box-shadow 2s ease-out;
    transition: box-shadow 2s ease-out;
    outline: none;
}

.ReactModal__Content {
    position: absolute;
    width: 40%;
    border-radius: 20px !important;
    @media only screen and (max-width: 768px) {
        width: 100%;
    }
    @media only screen and (min-width: 769px) and (max-width: 992px) {
        width: 60%;
    }
     background: white !important;

    h2 {
        color: $primaryColor !important;
    }

    a {
        color: $primaryColor;
        text-decoration: none !important;
    }

    p {
      margin-top: 30px;
      text-align: center;
    }
}

.ReactModal__Overlay, .ReactModal__Overlay--after-open {
    background-color: rgba(0, 0,0, 0.80) !important;
}

/* label color */
label {
    color: black;
    margin-bottom: 0px !important;
    margin-top: 15px !important;
    padding-left: 5px;
    padding-top: 0px;
}

.closebutton {
  float: right;
  border-radius: 30px;
}

.closebutton:before {
    content: "x";
}
/* submit button style */
.button2 {
    background-color: $primaryColor; /* Green */
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: $secondaryColor;
    width: 100%;
    height: 80%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

.col-4 {
  margin-left: 30px;
  margin-right: 30px;
}
