@import '../variables/colors.scss';

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}
/* Full-width input fields */
input[type=word], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: $color_whiteSmoke;
}

.ReactModal__Content {
    color: $black_30;
    position: absolute;
    //height: 100%;
    width: 50%;
    @media only screen and (max-width: 768px) {
        width: 100%;
    }
    @media only screen and (min-width: 769px) and (max-width: 992px) {
        width: 60%;
    }
    // top: 50%;
    // left: 50%;
    // right: 70%;
    // border: 1px solid rgb(204, 204, 204);
    // background: rgb(255, 255, 255);
    // overflow: auto;
    // border-radius: 4px;
    // outline: none;
    // padding: 20px;
    // margin-right: -50%;
    // transform: translate(-50%, -50%);

    h2 {
        color: $secondaryColor !important;
    }
}

/* label color */
label {
    color: $primaryColor;
}

/* Add a background color when the inputs get focus */
input[type=word]:focus, input[type=password]:focus {
    box-shadow: 0 0 5px $secondaryColor; 
    -webkit-transition: box-shadow 2s ease-out;
    -moz-transition: box-shadow 2s ease-out;
    -o-transition: box-shadow 2s ease-out;
    transition: box-shadow 2s ease-out;
    outline: none;
}

/* submit button style */
.button2 {
    background-color: $secondaryColor; /* Green */
    border: none;
    color: white;
    width: 100%;
    height: 80%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
/* submit button style */
.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid $secondaryColor;
}

/* submit button style */
.button2:hover {
    background-color: $secondaryColor;
    color: white;
}


/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Style the horizontal ruler */
hr {
    border-top: 1px solid $primaryColor !important;
    margin-bottom: 25px;
}
 
/* The slow way */
.make-it-slow {
    box-shadow: 0 1px 2px $gray;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  /* Transition to a bigger shadow on hover */
  .make-it-slow:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }
  
  /* The fast way */
  .make-it-fast {
    box-shadow: 0 1px 2px $gray;
  }
  
  /* Pre-render the bigger shadow, but hide it */
  .make-it-fast::after {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  /* Transition to showing the bigger shadow on hover */
  .make-it-fast:hover::after {
    opacity: 1;
  }

.headerColor {
      background-color:  $primaryColor;
}
